@mixin block-panel {
  padding: $space $space-xm $space-xm $space-xm;
  background-color: var(--color-f6);
  border-radius: $border-radius-m;
  display: grid;
  grid-gap: $space-s;
  .block-panel-header {
    @include block-panel-header;
  }
}

@mixin block-panel-header {
  font-size: $size-text-m;
  color: var(--color-text);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
