<div class="wfm-schedule">
  @if (path === routerPaths.NEW_CONTRACT) {
    <app-wfm-new-contract *ngIf="path === routerPaths.NEW_CONTRACT"></app-wfm-new-contract>
  }
  @if (path === routerPaths.CONTRACT) {
    <app-wfm-new-contract *ngIf="path === routerPaths.CONTRACT" [contractId]="contractId"></app-wfm-new-contract>
  }
  @if (path === routerPaths.HOME) {
    <span class="wfm-schedule__title">Работа с расписанием</span>
    <app-wfm-timetable *customTabsDynamicItem="null; key: 'timetable'; name: 'Расписание'"></app-wfm-timetable>
    <app-wfm-contracts *customTabsDynamicItem="null; key: 'contracts'; name: 'Контракты'"></app-wfm-contracts>
  }
</div>
