@if (isAuth()) {
  <div class="app">
    <div class="box-line"></div>
    <app-wfm-schedule></app-wfm-schedule>
  </div>
} @else {
  <div class="app login">
    @if (!isReg()) {
      <app-login></app-login>
    } @else {
      <app-registration></app-registration>
    }
  </div>
}
<ng-template #toast>
  <div class="toast-offline">
    <span>Нет подключения к Интернету. Соединение...</span>
    <custom-svg-icon icon="loader-input" iconHeight="20px" iconWidth="20px"></custom-svg-icon>
  </div>
</ng-template>
