@if (isAuth()) {
  <div class="app">
    <div class="box-line">
      <div class="box-line__wrapper">
        <div class="name">{{ user().name || "Аноним" }}</div>
        <custom-button (buttonClick)="logout()">Выход</custom-button>
      </div>
    </div>
    <app-wfm-schedule></app-wfm-schedule>
  </div>
} @else {
  <div class="app login">
    <app-login [isReg]="isReg()"></app-login>
  </div>
}
<ng-template #toast>
  <div class="toast-offline">
    <span>Нет подключения к Интернету. Соединение...</span>
    <custom-svg-icon icon="loader-input" iconHeight="20px" iconWidth="20px"></custom-svg-icon>
  </div>
</ng-template>
