<div class="app">
  <div class="box-line"></div>
  <app-wfm-schedule></app-wfm-schedule>
</div>
<div #contentContainer class="app login">
  <!--  <app-login *ngIf="!isReg" [isAuth]="isAuth" (authorized)="onAuthorize($event)"></app-login>-->
  <!--  <app-registration *ngIf="isReg"></app-registration>-->
</div>
<ng-template #toast>
  <div class="toast-offline">
    <span>Нет подключения к Интернету. Соединение...</span>
    <custom-svg-icon icon="loader-input" iconHeight="20px" iconWidth="20px"></custom-svg-icon>
  </div>
</ng-template>
